:root {
    --oxford-blue: rgba(43, 46, 125, 0.62);
    --eerie-black: #212121ff;
    --vermilion: #f44336ff;
    --burnt-umber: #8b2d2dff;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--eerie-black);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    overflow: hidden; /* Evita que la imagen se desborde */
}

#header-image {
    width: 100%;
    height: 30vh; /* La imagen ocupará el 50% de la altura de la ventana */
    object-fit: cover; /* Cubre el área del contenedor */
    object-position: center; /* Ajusta la parte visible de la imagen */
    display: block;
}

nav {
    background-color: var(--eerie-black);
    padding: 20px 0; /* Mayor espacio arriba y abajo del menú */
    margin-top: 20px; /* Separación entre la imagen y el menú */
}

.link-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    flex-wrap: wrap; /* Permite que los botones se agrupen verticalmente si es necesario */
}

.link-list li {
    margin: 5px 0; /* Espacio entre los botones en la vista vertical */
}

.link-list li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
}

.link-list li a:hover {
    color: var(--burnt-umber);
    border-color: var(--burnt-umber);
}

#content {
    text-align: center;
    padding: 50px 20px;
}

#content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: var(--vermilion);
}

#content h2 {
    font-size: 2.03em;
    color: rgb(43, 46, 125);
}

#content p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.social-links a {
    margin: 0 10px;
    display: inline-block;
}

.social-links img {
    width: 30px;
    height: 30px;
}

footer {
    background-color: var(--oxford-blue);
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Media Query para ajuste de botones en pantallas pequeñas */
@media (max-width: 768px) {
    .link-list {
        flex-direction: column; /* Los botones se agrupan verticalmente */
        align-items: center; /* Centrados horizontalmente */
    }

    .link-list li {
        margin: 10px 0; /* Mayor espacio entre botones en vista vertical */
    }
}
